/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    position: relative;
}

.sticky-link {
    content: "";
    display: none;  
    background-image: url('./imgs/flecha-arriba.png');
    background-size: contain;  /* Asegurarse de que la imagen de fondo se ajuste bien */
    background-repeat: no-repeat;
    width: 50px;  /* Ajustar el ancho según sea necesario */
    height: 50px;  /* Ajustar la altura según sea necesario */
    position: sticky;
    bottom: 18px;
    left: 90vw;
    z-index: 1000;  /* Asegurarse de que aparezca por encima de otros contenidos */
    padding: 10px;  /* Añadir algo de padding si es necesario */
}

.sticky-link.show {
    display: inline-block;  /* Mostrar cuando se añada la clase show */
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
}

main {
    margin-top: 150px;
}

header h1 {
    margin: 0;
}

/* Estilos para encabezados */
h1, h2, h3 {
    color: #2c3e50;
    text-align: center;
}

/* Estilos para la navegación */
nav {
    background-color: #f2f2f2;
    padding: 10px 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos para secciones y pie de página */
section, footer {
    margin-bottom: 20px;
}

/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para formularios */
form {
    max-width: 600px;
    margin: auto;
    width: 70vw;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #34495e;
}

.titulo-detalles {
    text-align: left;
}